<%- include("layouts/header") -%> 

<section id="mainframe">
    <form action="/signup" method="post">
        <div class="mb-3 pkt">
            <label for="inputEmail1" class="form-label">Email address</label>
            <input type="email" name="inputEmail" class="form-control" id="inputEmail" aria-describedby="emailHelp" autocomplete="off" placeholder="example@example.com" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>

        <div class="mb-3 pkt">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" name="inputPassword" class="form-control" id="inputPassword" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>


<%- include("layouts/footer") -%> 